# Bytes
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Distribution
build/
dist/
*.egg-info/

# PyCharm / VSCode
.idea/
.vscode/
.DS_Store

# Cache data
cache_data.json
cache_data.sqlite
cache_data.json.bak
