version: '3.8'

services:
  api:
    build: .
    container_name: ai_parser
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - OPENAI_MODEL=${OPENAI_MODEL}
    volumes:
      - ./cache_data.json:/app/cache_data.json
